In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import re

In [2]:
train_raw = pd.read_csv("train_raw.csv")
test_raw = pd.read_csv("test_raw.csv")

In [3]:
def clean_html(review) : 
    text = BeautifulSoup(review, "html.parser").get_text() # Remove HTML tags
    text = re.sub(r"[^a-zA-Z0-9]", " ", text.lower()) # Convert to lower case
    return text

In [4]:
train_raw['clean_text'] = train_raw["text"].apply(clean_html)
test_raw['clean_text'] = test_raw["text"].apply(clean_html)

In [5]:
train_raw.head()

,text,target,clean_text
0,"Last night I finished re-watching ""Jane Eyre"" ...",1,last night i finished re watching jane eyre ...
1,Maybe I'm a sap but this is the sweetest movie...,1,maybe i m a sap but this is the sweetest movie...
2,In keeping with Disney's well-known practice o...,0,in keeping with disney s well known practice o...
3,John Waters has given us a genuinely enjoyable...,1,john waters has given us a genuinely enjoyable...
4,I'm starting to write this review during a bre...,0,i m starting to write this review during a bre...

In [6]:
test_raw.head()

,text,target,clean_text
0,From the late Sydney Pollack comes a grown up ...,1,from the late sydney pollack comes a grown up ...
1,A fairly interesting look at some characters f...,1,a fairly interesting look at some characters f...
2,I had the opportunity to see this last evening...,1,i had the opportunity to see this last evening...
3,Another Raquel Welch Classic! This Picture hit...,1,another raquel welch classic this picture hit...
4,Rocketship X-M should be viewed by any serious...,0,rocketship x m should be viewed by any serious...

In [7]:
del train_raw['text']
del test_raw['text']

In [8]:
train_raw.to_csv("train_clean.csv",index=False)
test_raw.to_csv("test_clean.csv",index=False)